.list-items{
    text-align: start;
    padding-left: 160px;
}

.icon-footor img{
    padding: 10px;
}
.footor-contact-logo{
background-color: white;
border-radius: 50%;
padding: 10px;
}


.social-icon {
    font-size: 30px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    background-color: white;
    transition: background-color 0.3s, transform 0.3s;
}


.social-icon img{
    padding: 10px;
}

.social-icon:hover {
    transform: scale(1.1); /* Slight zoom effect */
}

.facebook:hover {
    background-color:  #0e5abf;;
}

.instagram:hover {
    background:linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

.twitter:hover {
    background-color:  #0d8de0;; ; ;
}