* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", serif;
}

.logo {
    color: white;
    opacity: 0.8;
    padding-left: 90px;
    font-size: 25px;
}

.main-navbar {
  
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    /* Keeps it above other elements */

}

.farm_nav {
    justify-content: center;
    font-size: 17px;


}

.farm_gap {
    column-gap: 19px;
    font-weight: 300px;
}

.button-container li {
    list-style: none;

}

.button-container {
    display: flex;
    margin-right: 85px;
    gap: 10px;
}

.link-color {
    position: relative;
    color: white;
    opacity: 0.8;
    text-decoration: none;

}

.link-color::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #198754;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.2s ease;

}

.link-color:hover::before {
    transform: scalex(1);


}

.link-color:hover {
    color: white;
}

.log-btn {
    opacity: 0.8;
}

.loginacc-bg {
    background-color: aliceblue;
}

.loginacc-logo {
    height: 25px;
}

.profile-btn {
    width: 45px;
    border-radius: 50%;
}


.profile-dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10%;
}

.dropdown-btn {
    display: none;
    position: absolute;
    background-color: #f9f9f9;  
    margin-top: 10px;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-btn a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-btn a:hover {
    background-color: #3e8e41;
}

/* .profile-dropdown:hover .dropdown-btn {
    display: block;
} */



/* second navbar */
.Usernavbar{
    list-style: none;
    display: flex;
    gap: 20px   ;
    color: white;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
   
}
.userlist{
    background-color:rgb(65 88 65) ;
    border-radius: 2px;
}
.usernav-icon{
    width: 25px;
    padding-bottom: 4px;
}