.userdashboardtable {
    width: 100%;
    border: 1px soild black;
    height: auto;
}

.dash-title {
    background-color: rgb(108, 146, 108);
}

.arrowdiv {
    background-color: rgb(225 237 225);
}
.th_img{
    max-width: 30px;
}
/* table {
    width: 100%;
    table-layout: fixed;
}
th, td {
    width: 25%;
    text-align: center;
} */