.userdashboardtable2 {
    width: 412px;
    height: auto;
    border: 1px solid black;
}

.dash-title {
    background-color: rgb(108, 146, 108);
}

.arrowdiv {
    background-color: rgb(225 237 225);
}