.userdashboardtable {
    width: 100%;
    border: 1px soild black;
}

.dash-title {
    background-color: rgb(108, 146, 108);
    height: 35px;
}
.dash-title svg{
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.arrowdiv {
    background-color: rgb(225 237 225);
}
